

<ul class="hmenu hero">
  <%= render 'devise/menu/registration_items' %>
  <%= render 'devise/menu/login_items' %>
</ul>

<%= render 'posts/form' %>


  <footer>
    <p>&copy; Company 2014</p>
  </footer>
</div> <!-- /container -->

